/* .quote {
  margin-top: 200px;
  height: 100%;  
}

.quote .inner { 
  width: 40%;   
  display: flex;
  align-items: center;
  justify-content: center; 
  -webkit-box-shadow: 0px 5px 33px -21px #000000; 
  -moz-box-shadow: 0px 5px 33px -21px #000000; 
  box-shadow: 0px 5px 33px -21px #000000;
  border-radius: 20px;
  padding: 80px 0 20px 0;
  margin-bottom: 80px;
  background-image: url("../../images/v_bg2.jpg");
}

.quoteForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteForm .input {
  width: 300px;
  margin-bottom: 20px;
}

.quoteForm .btn {
  width: 300px;
}

.quoteTitle {
  position: absolute;
  top: 20px;  
  display: block;
  margin-bottom: 40px;
  font-size: 40px;  
  color: rgb(136, 105, 105);
} */

.quote {
  margin-top: 200px;
  width: 80%;
  height: 100%;
}

.quote .inner {
  width: 70%;
  left: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 33px -21px #000000;
  -moz-box-shadow: 0px 5px 33px -21px #000000;
  box-shadow: 0px 5px 33px -21px #000000;
  border-radius: 20px;
  padding: 80px 0 20px 0;
  margin-bottom: 80px;
  /* background-image: url("../../images/v_bg2.jpg"); */
}

.quote .left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote .center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quote .center .line {
  width: 10px;
  height: 70%;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.quote .left .icon {
  width: 260px;
  height: 260px;
  margin-right: 10px;
}

.quote .right .input {
  width: 230px;
  margin-bottom: 20px;
}

.quote .right .btn {
  width: 230px;
}

.quote .quoteTitle {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: rgb(136, 105, 105);
}

.quote .quoteForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
